body {
    background-color: #f4f0fa;
    font-family: Arial, sans-serif,'Times New Roman', serif;  
    margin: 0;  
    padding: 0;
}
header h1 {
    color: #7b1e1e;
    font-family: Brush Script MT, cursive;; 
    text-align: center;
    padding: 20px;
    margin-top: 10px; 
}
img {
    height: 150px;
    width: 150px;
    border: 4px solid #2c2c2c; 
    
    margin: 20px ; 
    padding: 5px;       
}
h3 {
    color: #5a2e91;
    font-family:Comic Sans MS, cursive;;
    margin-top: 20px;
    margin-bottom: 10px;  
}
.wh {
    color: #d84a5d; 
}special ul {
    color: #0077cc;
    font-family: Cambria, serif;
}
ul {
    color: #b71c1c; 
    font-family: Cambria, serif;
    padding-left: 30px;
}
ol {
    color: #a94444;
    padding-left: 30px;
}
p {
    font-size: 1.5em;
    color: #2e2e2e; 
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6; 
    text-align: justify;
}
h1:first-letter {
    font-size: 3em;
}
a[href^="https"]:hover {
    font-size: 1.5em;
    background-color: #87ceeb;
    text-decoration: italic;
}
hr {
    height: 7px;
    background-color: #1a1a1a;
    margin: 30px ;
}
main {
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
}
@media (max-width: 600px) {
    body {
        background-color: #fafafa;
    }
    img {
        width: 150px;
        height: 150px;
    }
    p {
        font-size: 1.2em;
    }
    main {
        padding: 10px;
    }
}
footer {
    background-color: #eee;
    padding: 10px;
    overflow: auto; 
    text-align: center;
}