body {
    background-color: #f6f3fc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    color: #7b1e1e;
    text-align: center;
    padding: 20px;
    font-style:italic;
}

form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fcf9f9;
    padding: 20px;
    border: 2px solid #cdcaca;
    border-radius: 10px;
}

fieldset {
    border: 2px solid #5a2e91;
    padding: 15px;
    border-radius: 8px;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #5c2e95;
    text-align: center;
}

label {
    font-weight: bold;
    color: #2e2e2e;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
button {
    background-color: #5a2e91;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: #7b1e1e;
}

footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}
